.alert {
    position: fixed;
    bottom: 80px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    background-color: orange;
    padding: 16px 10px;
    border-radius: 4px;
    z-index: 15;
    width: 485px;
}

.success {
    padding: 17px 19px;
    background-color: greenyellow;
}

.error {
    background-color: orange;
}

.container {
    display: flex;
    align-items: center;
    gap: 22px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}
